{
    "start": "Month Day, Year 00:00:00",

    "user": {
        "login": "",
        "pass": ""
    },

    "subjects": [
        { "name": "subject", "group": 1 }
    ],

    "browser": {
        "browser": "firefox",
        "host": "127.0.0.1",
        "port": "4444"
    },

    "intervals": {
        "check_time": 100,
        "click": 1000
    }
}
